# Configuration file

####################
# block
####################

block {
    I:Bookcase=3890
    I:Desk=3889
    I:DisplayCaseSet0=3888
    I:DisplayCaseSet1=2354
    I:DisplayCaseSet2=2355
    I:Label=3886
    I:MapFrame=3884
    I:PotionShelf=2356
    I:Seat=3885
    I:Shelf=3887
    I:Table=2358
    I:ToolRack=2359
}


####################
# item
####################

item {
    I:SeatBack=22309
    I:SeatBack2=22310
    I:SeatBack3=22311
    I:SeatBack4=22312
    I:SeatBack5=22313
}


