# Configuration file

####################
# block
####################

block {
    I:BundledConnector=3751
}


####################
# enabled peripherals
####################

"enabled peripherals" {
    B:BundledConnector=true
}


