# autoDetectCuttableBlocks is a BooleanOption
# cuttableBlock is a ItemAndMetaListOption
# tileEntityClass is a StringSetOption
# enableNEI is a BooleanOption
# transformer is a StringSetOption
# blockClass is a StringSetOption
# forceDisableMCPCCompat is a BooleanOption
# blockClassUsingDummyTile is a StringSetOption

# This is the format to add an entry to a StringSetOption:
#   blockClass: +some.block.class.name
# That will add some.block.class.name as a blockClass.
# If something is included by default and you want to remove it, use this format:
#   tileEntityClass: -appeng.me.tile.TileOutputCable
# That will remove appeng.me.tile.TileOutputCable as a tileEntityClass.

# AUTODETECT IS BROKEN ON SERVERS!
# If you're on a server, don't do that. Use autodetect on your client instead, then copy the config file to the server.


autoDetectCuttableBlocks: false

cuttableBlock: 79:1
cuttableBlock: 79:2
cuttableBlock: 79:3
cuttableBlock: 79:4
cuttableBlock: 79:5
cuttableBlock: 79:6
cuttableBlock: 79:7
cuttableBlock: 79:8
cuttableBlock: 203:0
cuttableBlock: 213:0
cuttableBlock: 214:0
cuttableBlock: 590:3
cuttableBlock: 590:4
cuttableBlock: 606:0
cuttableBlock: 606:1
cuttableBlock: 606:2
cuttableBlock: 606:3
cuttableBlock: 606:4
cuttableBlock: 606:5
cuttableBlock: 606:14
cuttableBlock: 682:0
cuttableBlock: 682:1
cuttableBlock: 682:2
cuttableBlock: 682:3
cuttableBlock: 682:4
cuttableBlock: 682:5
cuttableBlock: 682:6
cuttableBlock: 682:7
cuttableBlock: 682:8
cuttableBlock: 682:9
cuttableBlock: 682:10
cuttableBlock: 682:11
cuttableBlock: 682:12
cuttableBlock: 682:13
cuttableBlock: 696:0
cuttableBlock: 696:1
cuttableBlock: 696:4
cuttableBlock: 699:0
cuttableBlock: 704:0
cuttableBlock: 704:1
cuttableBlock: 704:2
cuttableBlock: 704:3
cuttableBlock: 704:4
cuttableBlock: 704:5
cuttableBlock: 704:6
cuttableBlock: 704:7
cuttableBlock: 704:8
cuttableBlock: 704:9
cuttableBlock: 704:10
cuttableBlock: 704:11
cuttableBlock: 732:0
cuttableBlock: 732:1
cuttableBlock: 732:2
cuttableBlock: 732:3
cuttableBlock: 732:4
cuttableBlock: 732:5
cuttableBlock: 732:6
cuttableBlock: 732:7
cuttableBlock: 732:8
cuttableBlock: 732:9
cuttableBlock: 732:10
cuttableBlock: 733:1
cuttableBlock: 789:0
cuttableBlock: 925:0
cuttableBlock: 925:1
cuttableBlock: 925:2
cuttableBlock: 925:3
cuttableBlock: 925:4
cuttableBlock: 927:0
cuttableBlock: 927:1
cuttableBlock: 927:2
cuttableBlock: 927:3
cuttableBlock: 927:4
cuttableBlock: 927:5
cuttableBlock: 927:6
cuttableBlock: 927:7
cuttableBlock: 927:8
cuttableBlock: 927:9
cuttableBlock: 927:10
cuttableBlock: 927:11
cuttableBlock: 927:12
cuttableBlock: 927:13
cuttableBlock: 927:14
cuttableBlock: 927:15
cuttableBlock: 928:0
cuttableBlock: 928:1
cuttableBlock: 928:2
cuttableBlock: 928:3
cuttableBlock: 928:4
cuttableBlock: 928:5
cuttableBlock: 928:6
cuttableBlock: 928:7

# Chisel
cuttableBlock: 2761:0
cuttableBlock: 2761:1
cuttableBlock: 2761:2
cuttableBlock: 2761:3
cuttableBlock: 2761:4
cuttableBlock: 2761:5
cuttableBlock: 2761:6
cuttableBlock: 2761:7
cuttableBlock: 2761:8
cuttableBlock: 2761:9
cuttableBlock: 2761:10
cuttableBlock: 2761:11
cuttableBlock: 2761:12
cuttableBlock: 2761:13
cuttableBlock: 2761:14
cuttableBlock: 2761:15
cuttableBlock: 2762:0
cuttableBlock: 2762:1
cuttableBlock: 2762:2
cuttableBlock: 2762:3
cuttableBlock: 2762:4
cuttableBlock: 2762:5
cuttableBlock: 2762:6
cuttableBlock: 2762:7
cuttableBlock: 2762:8
cuttableBlock: 2762:9
cuttableBlock: 2762:10
cuttableBlock: 2762:11
cuttableBlock: 2762:12
cuttableBlock: 2762:13
cuttableBlock: 2762:14
cuttableBlock: 2762:15
cuttableBlock: 2765:0
cuttableBlock: 2765:1
cuttableBlock: 2765:2
cuttableBlock: 2765:3
cuttableBlock: 2765:4
cuttableBlock: 2765:5
cuttableBlock: 2765:6
cuttableBlock: 2765:7
cuttableBlock: 2765:8
cuttableBlock: 2765:9
cuttableBlock: 2765:10
cuttableBlock: 2765:11
cuttableBlock: 2765:12
cuttableBlock: 2765:13
cuttableBlock: 2765:14
cuttableBlock: 2765:15
cuttableBlock: 2775:0
cuttableBlock: 2775:1
cuttableBlock: 2775:2
cuttableBlock: 2775:3
cuttableBlock: 2775:4
cuttableBlock: 2775:5
cuttableBlock: 2775:6
cuttableBlock: 2775:7
cuttableBlock: 2775:8
cuttableBlock: 2775:9
cuttableBlock: 2775:10
cuttableBlock: 2775:11
cuttableBlock: 2775:12
cuttableBlock: 2775:13
cuttableBlock: 2775:14
cuttableBlock: 2775:15
cuttableBlock: 2771:0
cuttableBlock: 2771:1
cuttableBlock: 2771:2
cuttableBlock: 2771:3
cuttableBlock: 2771:4
cuttableBlock: 2771:5
cuttableBlock: 2771:6
cuttableBlock: 2771:7
cuttableBlock: 2771:8
cuttableBlock: 2771:9
cuttableBlock: 2771:10
cuttableBlock: 2771:11
cuttableBlock: 2771:12
cuttableBlock: 2771:13
cuttableBlock: 2771:14
cuttableBlock: 2771:15
cuttableBlock: 2777:0
cuttableBlock: 2777:1
cuttableBlock: 2777:2
cuttableBlock: 2777:3
cuttableBlock: 2777:4
cuttableBlock: 2777:5
cuttableBlock: 2777:6
cuttableBlock: 2777:7
cuttableBlock: 2777:8
cuttableBlock: 2777:9
cuttableBlock: 2777:10
cuttableBlock: 2777:11
cuttableBlock: 2777:12
cuttableBlock: 2777:13
cuttableBlock: 2777:14
cuttableBlock: 2777:15
cuttableBlock: 2778:0
cuttableBlock: 2778:1
cuttableBlock: 2778:2
cuttableBlock: 2778:3
cuttableBlock: 2778:4
cuttableBlock: 2778:5
cuttableBlock: 2778:6
cuttableBlock: 2778:7
cuttableBlock: 2778:8
cuttableBlock: 2778:9
cuttableBlock: 2778:10
cuttableBlock: 2778:11
cuttableBlock: 2778:12
cuttableBlock: 2778:13
cuttableBlock: 2778:14
cuttableBlock: 2778:15
cuttableBlock: 2779:0
cuttableBlock: 2779:1
cuttableBlock: 2779:2
cuttableBlock: 2779:3
cuttableBlock: 2779:4
cuttableBlock: 2779:5
cuttableBlock: 2779:6
cuttableBlock: 2779:7
cuttableBlock: 2779:8
cuttableBlock: 2779:9
cuttableBlock: 2779:10
cuttableBlock: 2779:11
cuttableBlock: 2779:12
cuttableBlock: 2779:13
cuttableBlock: 2779:14
cuttableBlock: 2779:15
cuttableBlock: 2780:0
cuttableBlock: 2780:1
cuttableBlock: 2780:2
cuttableBlock: 2780:3
cuttableBlock: 2780:4
cuttableBlock: 2780:5
cuttableBlock: 2780:6
cuttableBlock: 2780:7
cuttableBlock: 2780:8
cuttableBlock: 2780:9
cuttableBlock: 2780:10
cuttableBlock: 2780:11
cuttableBlock: 2780:12
cuttableBlock: 2780:13
cuttableBlock: 2780:14
cuttableBlock: 2780:15
cuttableBlock: 2781:0
cuttableBlock: 2781:1
cuttableBlock: 2781:2
cuttableBlock: 2781:3
cuttableBlock: 2781:4
cuttableBlock: 2781:5
cuttableBlock: 2781:6
cuttableBlock: 2781:7
cuttableBlock: 2781:8
cuttableBlock: 2781:9
cuttableBlock: 2781:10
cuttableBlock: 2781:11
cuttableBlock: 2781:12
cuttableBlock: 2781:13
cuttableBlock: 2781:14
cuttableBlock: 2781:15
cuttableBlock: 2787:0
cuttableBlock: 2787:1
cuttableBlock: 2787:2
cuttableBlock: 2787:3
cuttableBlock: 2787:4
cuttableBlock: 2787:5
cuttableBlock: 2787:6
cuttableBlock: 2787:7
cuttableBlock: 2787:8
cuttableBlock: 2787:9
cuttableBlock: 2787:10
cuttableBlock: 2787:11
cuttableBlock: 2787:12
cuttableBlock: 2787:13
cuttableBlock: 2787:14
cuttableBlock: 2787:15
cuttableBlock: 2788:0
cuttableBlock: 2788:1
cuttableBlock: 2788:2
cuttableBlock: 2788:3
cuttableBlock: 2788:4
cuttableBlock: 2788:5
cuttableBlock: 2788:6
cuttableBlock: 2788:7
cuttableBlock: 2788:8
cuttableBlock: 2788:9
cuttableBlock: 2788:10
cuttableBlock: 2788:11
cuttableBlock: 2788:12
cuttableBlock: 2788:13
cuttableBlock: 2788:14
cuttableBlock: 2788:15
cuttableBlock: 2789:0
cuttableBlock: 2789:1
cuttableBlock: 2789:2
cuttableBlock: 2789:3
cuttableBlock: 2789:4
cuttableBlock: 2789:5
cuttableBlock: 2789:6
cuttableBlock: 2789:7
cuttableBlock: 2789:8
cuttableBlock: 2789:9
cuttableBlock: 2789:10
cuttableBlock: 2789:11
cuttableBlock: 2789:12
cuttableBlock: 2789:13
cuttableBlock: 2789:14
cuttableBlock: 2789:15
cuttableBlock: 2790:0
cuttableBlock: 2790:1
cuttableBlock: 2790:2
cuttableBlock: 2790:3
cuttableBlock: 2790:4
cuttableBlock: 2790:5
cuttableBlock: 2790:6
cuttableBlock: 2790:7
cuttableBlock: 2790:8
cuttableBlock: 2790:9
cuttableBlock: 2790:10
cuttableBlock: 2790:11
cuttableBlock: 2790:12
cuttableBlock: 2790:13
cuttableBlock: 2790:14
cuttableBlock: 2790:15
cuttableBlock: 2792:0
cuttableBlock: 2792:1
cuttableBlock: 2792:2
cuttableBlock: 2792:3
cuttableBlock: 2792:4
cuttableBlock: 2792:5
cuttableBlock: 2792:6
cuttableBlock: 2792:7
cuttableBlock: 2792:8
cuttableBlock: 2792:9
cuttableBlock: 2792:10
cuttableBlock: 2792:11
cuttableBlock: 2792:12
cuttableBlock: 2793:0
cuttableBlock: 2793:1
cuttableBlock: 2793:2
cuttableBlock: 2793:3
cuttableBlock: 2793:4
cuttableBlock: 2793:5
cuttableBlock: 2793:6
cuttableBlock: 2793:7
cuttableBlock: 2793:8
cuttableBlock: 2793:9
cuttableBlock: 2793:10
cuttableBlock: 2793:11
cuttableBlock: 2793:12
cuttableBlock: 2793:13
cuttableBlock: 2793:14
cuttableBlock: 2793:15
cuttableBlock: 2794:0
cuttableBlock: 2794:1
cuttableBlock: 2794:2
cuttableBlock: 2794:3
cuttableBlock: 2794:4
cuttableBlock: 2794:5
cuttableBlock: 2794:6
cuttableBlock: 2794:7
cuttableBlock: 2794:8

# included by default: tileEntityClass: buildcraft.transport.TileGenericPipe
# included by default: tileEntityClass: ic2.core.block.wiring.TileEntityCable
# included by default: tileEntityClass: appeng.me.tile.TileCable
# included by default: tileEntityClass: appeng.me.tile.TileDarkCable
# included by default: tileEntityClass: appeng.me.tile.TileInputCable
# included by default: tileEntityClass: appeng.me.tile.TileOutputCable
# included by default: tileEntityClass: appeng.me.tile.TileLevelEmitter
# included by default: tileEntityClass: appeng.me.tile.TileStorageBus
# included by default: tileEntityClass: appeng.me.tile.TileColorlessCable
# included by default: tileEntityClass: powercrystals.minefactoryreloaded.tile.rednet.TileEntityRedNetCable
# included by default: tileEntityClass: micdoodle8.mods.galacticraft.core.tile.GCCoreTileEntityOxygenPipe
# included by default: tileEntityClass: thermalexpansion.block.conduit.energy.TileConduitEnergy
# included by default: tileEntityClass: thermalexpansion.block.conduit.fluid.TileConduitFluid
# included by default: tileEntityClass: thermalexpansion.block.conduit.item.TileConduitItem
# included by default: tileEntityClass: mods.immibis.microblocks.TileMicroblockContainerDefaultTE
tileEntityClass: +powercrystals.minefactoryreloaded.tile.TileRedstoneCable

enableNEI: false

# included by default: transformer: mods.immibis.microblocks.crossmod.MicroblocksBCTransformer

# included by default: blockClass: buildcraft.transport.BlockGenericPipe
# included by default: blockClass: ic2.core.block.wiring.BlockCable
# included by default: blockClass: appeng.common.base.AppEngMultiBlock
# included by default: blockClass: powercrystals.minefactoryreloaded.block.BlockRedNetCable
# included by default: blockClass: micdoodle8.mods.galacticraft.core.blocks.GCCoreBlockOxygenPipe
# included by default: blockClass: thermalexpansion.block.conduit.BlockConduit
blockClass: +powercrystals.minefactoryreloaded.block.BlockRedstoneCable

forceDisableMCPCCompat: false
