#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <ID>:<meta>
#<ID> may be a numerical id or the unlocalised name of the block/item enclosed in double quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. 3. 5:3. 213:1,2,3,5. "tile.blockIron":0-15

# Chisel
"tile.blockCarpet":0-15
"tile.blockCloud":0-15
"tile.blockDirt":0-15
"tile.blockFactory":0-15
"tile.blockFft":0-15
"tile.blockHolystone":0-15
"tile.blockLavastone":0-15
"tile.blockRedstone":0-15
"tile.blockTemple":0-15
"tile.blockTempleMossy":0-15
"tile.blockTyrian":0-15
"tile.cobblestone":0-15
"tile.concrete":0-15
"tile.diamond":0-15
"tile.emerald":0-15
"tile.glass":0-15
"tile.hellrock":0-15
"tile.icePillar":0-15
"tile.icePillar":0-15
"tile.iron":0-15
"tile.lapis":0-15
"tile.lightstone":0-15
"tile.limestone":0-15
"tile.marble":0-15
"tile.marblePillar":0-15
"tile.netherBrick":0-15
"tile.obsidian":0-15
"tile.obsidianSnakestone":0-15
"tile.roadLine":0-15
"tile.sandSnakestone":0-15
"tile.sandstone":0-15
"tile.sandstoneScribbles":0-15
"tile.snakestone":0-15
"tile.stoneBrick":0-15
"tile.stoneMoss":0-15
"tile.wood-birch":0-15
"tile.wood-jungle":0-15
"tile.wood-oak":0-15
"tile.wood-spruce":0-15

