# Configuration file

####################
# logicblock
####################

logicblock {
    I:SignalBus=3940
    I:SignalTerminal=3938
}


####################
# logicitem
####################

logicitem {
    I:LengthWire=12000
    I:SpoolWire=12001
}


####################
# machines
####################

machines {
    I:Dynamo=3946
    I:FilterMesh=3941
    I:Redstone=3226
}


